---
name: Build

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
    runs-on: macos-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheel
        run: |
          pip install wheel twine
          curl -J -O -L 'https://pypi.io/packages/source/z/zeroc-ice/zeroc-ice-3.6.5.tar.gz'
          tar zxf zeroc-ice-3.6.5.tar.gz
          patch -p0 < zeroc-ice-feedstock/recipe/osx.patch
          cd zeroc-ice-3.6.5
          python setup.py bdist_wheel
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: zeroc-ice-3.6.5/dist/*.whl
          if-no-files-found: error
  release:
    if: startsWith(github.ref, 'refs/tags')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts from build
        uses: actions/download-artifact@v2
      - name: List artifacts
        run: ls -R
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts/*.whl
